<p id="notice"><%= notice %></p>

<h1>News Sources</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Feed url</th>
      <th>Last processed at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news_sources.each do |news_source| %>
      <tr>
        <td><%= news_source.name %></td>
        <td><%= news_source.feed_url %></td>
        <td><%= news_source.last_processed_at %></td>
        <td><%= link_to 'Edit', edit_news_source_path(news_source) %></td>
        <td><%= link_to 'Destroy', news_source, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New News Source', new_news_source_path %>
