<p>
      Headlines last updated <%= @recent_headlines.first.created_at.in_time_zone("Pacific Time (US & Canada)") %> Pacific Time
</p>

<p><b>Work in progress, these buttons don't work yet</b></p>
<a href="#" class="btn btn-primary" role="button" aria-pressed="false">Update Headlines Now</a><br/><br/>
<a href="#" class="btn btn-danger" role="button" aria-pressed="false" data-method="delete" data-confirm="Removing all keywords is irreversible. Are you sure?">Remove all keywords</a>

<table class='table'>
  <thead>
  <tr>
    <th>Sign</th>
    <th>Keywords</th>
    <th>Hits</th>
    <th>Score</th>
  </tr>
  <thead>
  <tbody>
  <% Sign.find_each do |s| %>
  <tr>
    <td><%= s.name %></td>
    <td><%= s.keywords.count %></td>
    <td><%= s.hits %></td>
    <td><%= number_with_precision(s.score, precision: 2) %></td>
  </tr>
  <% end %>
  </tbody>
</table>
