<%= form_with(model: sign, local: true) do |form| %>
  <% if sign.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sign.errors.count, "error") %> prohibited this sign from being saved:</h2>

      <ul>
      <% sign.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :sign_name %>
  </div>

  <div class="field">
    <%= form.label :particle_id %>
    <%= form.select(:particle_instance_id, options_for_select(ParticleInstance.order(:name).pluck(:name, :id), sign.particle_instance_id)) %>
  </div>

  <div class="field">
    <%= form.label :relay %>
    <%= form.select(:relay, options_for_select( [[1, 1], [2, 2], [3, 3], [4, 4]], sign.relay ) ) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
