<h1>Signs</h1>
<div class="card-group">
    <% @signs.each do |sign| %>
    <div class='card'>
      <h2 class='card-title'><%=sign.name %></h2>
      <%= sign.picture %>
      <%= form_for(sign, class: 'form') do |f| %>
        <ul>
        <li><%= f.text_field :name %></li>
        <li><%= f.number_field :relay %></li>
        <li><%= f.file_field :picture %></li>
	<li><%= f.submit class: 'submit' %></li>
      <% end %>
      </div>
    <% end %>
</div>
<%= link_to 'Add a sign!', new_sign_path %>
