<div class='row'>
  <div class='col-6'>

    <ul class="nav nav-tabs" role="tablist" id="signsTab">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#signs" id="signs-tab" role="tab" aria-controls="signs" aria-selected="true">Signs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tinker"  data-toggle="tab" id="tinker-tab" role="tab" aria-controls="tinker" aria-selected="false">Tinker</a>
      </li>
      <% if current_user %>
        <li class="nav-item">
          <a class="nav-link" href="#console" data-toggle="tab" id="console-tab" aria-controls="console" aria-selected="false">Console</a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content" id="signsTabContent">
      <div class="tab-pane fade show active" id="signs" role="tabpanel" aria-labelledby="home-tab">
        <%= render partial: "signs" %>
      </div><!-- tab-pane' -->

      <div class="tab-pane fade" id="tinker" role="tabpanel" aria-labelledby="tinker-tab">
        <%= render partial: "tinker" %>
      </div>

      <div class="tab-pane fade" id="console" role="tabpanel" aria-labelledby="console-tab">
        <%= render partial: "console" %>
     </div>
    </div>
  </div>

  <div class='col-6'>
    <%= form_tag action: 'create', controller: 'keywords', method: 'post' do %>
      <label for='keyword''><b>Enter keyword and select corresponding signs</b></label>
      <input name='keyword[name]' id='keyword[name]' type='text' class='form-control'>
      <%= hidden_field_tag("keyword[sign_ids][]", nil) %>
      <div class='form-row'>
        <% Sign.order(:name).each do |sign| %>
          <div class='form-check form-check-inline w-25'>
            <label class='form-check-label'>
              <%= check_box_tag "keyword[sign_ids][]", sign.id, false, class: 'form-check-input' %><%= sign.name %>
            </label>
          </div>
        <% end %>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    <% end %>
    <table class='table'>
      <% @recent_headlines.each do |headline| %>
        <tr>
          <td><%= link_to headline.headline, headline.link %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
