<div class='row'>
<div class='col-6'>
  <div class='row'>
    <% @signs.each do |sign| %>
    <div class='w-25 p-3'>
          <%= image_tag "#{sign.lit ? 'ON' : 'OFF'}_#{sign.name.downcase.gsub(/\s/, '')}.png", height: 100, width: 100, title: "#{sign.name} is #{sign.lit ? '' : 'not '}lit" %>
    </div>
    <% end %>
  </div>
</div>


<div class='col-6'>
  <%= form_tag action: 'create', controller: 'keywords', method: 'post' do %>
    <label for='keyword''><b>Enter keyword and select corresponding signs</b></label>
    <input name='keyword[name]' id='keyword[name]' type='text' class='form-control'>
    <%= hidden_field_tag("keyword[sign_ids][]", nil) %>
    <div class='form-row'>
      <% Sign.order(:name).each do |sign| %>
        <div class='form-check form-check-inline w-25'>
	  <label class='form-check-label'>
	    <%= check_box_tag "keyword[sign_ids][]", sign.id, false, class: 'form-check-input' %><%= sign.name %>
	  </label>
	</div>
	<% end %>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  <% end %>

<table class='table'>
<% @recent_headlines.each do |headline| %>
  <tr>
    <td><%= link_to headline.headline, headline.link %></td>
  </tr>
<% end %>
</table>
</div>
</div>
