<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @sign.name %>
</p>

<p>
  <strong>Particle:</strong>
  <%= @sign.particle %>
</p>

<p>
  <strong>Relay:</strong>
  <%= @sign.relay %>
</p>

<%= link_to 'Edit', edit_sign_path(@sign) %> |
<%= link_to 'Back', signs_path %>
