<p id="notice"><%= notice %></p>

<h1>Particles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Particle</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @particle_instances.each do |particle| %>
      <tr>
        <td><%= particle.name %></td>
        <td><%= particle.particle_id %></td>
        <td><%= link_to 'Show', particle %></td>
        <td><%= link_to 'Edit', edit_particle_instance_path(particle) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Particle', new_particle_instance_path %>
