<h1>Keywords</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Signs</th>
    </tr>
  </thead>

  <tbody>
    <% @keywords.each do |keyword| %>
      <tr>
        <td><%= link_to keyword.name, keyword %></td>
	<td><%= keyword.signs.pluck(:name).join(', ') %></td>
        <td><%= link_to 'Edit', edit_keyword_path(keyword) %></td>
        <td><%= link_to 'Delete', keyword, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Keyword', new_keyword_path %>
